<% if @mine.errors.any? %>
<b>Errors:</b>
<ul>
  <% @mine.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<div class="new-mine-form">
  <%= form_for [@user,@mine] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <p>Depth: <%= @mine.depth %></p>

    <%= f.submit "Start Mining!", id: "submit" %>
  <% end %>
</div>



