<!-- GAME  -->

<audio autoplay="autoplay" loop="loop">
  <source src="<%= asset_path("drippy_cave.mp3") %>" type="audio/mpeg">
  <source src="<%= asset_path("drippy_cave.ogg") %>" type="audio/ogg">
  <embed height="5" width="10" src="<%= asset_path("drippy_cave.mp3") %>">
</audio>

<!-- INCLUDES ALL SCRIPT FILES, FOR USE IN THIS GAME -->
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<!-- These are divs for the margins & button areas.
The game floats above these, but is buffered by the margin divs which float -->

  <div class="game-left-margin-div"></div>
  <div class="game-top-margin-div"></div>

  <!-- BUTTON TO TAKE YOU BACK TO HQ -->
  <div id="stop-mining">
    <p><%= link_to "Back to HQ", user_path(@user), id: 'link-to-hq' %></p>
  </div>


<script>

var seconds = 0;
// Score is the dollars from user db:
var score = <%= @user.dollars.to_json %>;
var scoreText;
//Depth from user mine in db
var depth = <%= @mine.depth.to_json %>;
var depthText;
//Tool speed for the tool which current user has equipped
// ( used as a depth-rate and point-rate modifier below)
var toolSpeed = <%= @tool.speed.to_json %>;
var toolSpeedText;
// Tool is the users current equipped tool:
var tool = "<%= @curr_tool_name %>";
var toolText;

var game = new Phaser.Game(800, 600, Phaser.AUTO, '', { preload: preload, create: create, update: update });

function preload() {

  //ALWAYS LOAD ASSETS FOR CAVE WALL AND STONE
  game.load.image('cave', '<%= asset_path("cave.png") %>');
  game.load.image('stone', '<%= asset_path("stone.jpg") %>');
  game.load.image('rubble', '<%= asset_path("rubble.png") %>');

  game.load.audio("demonic", '<%= asset_path("demonic.mp3")%>');

  // CASES FOR PRE-LOADING CONTENT:
  switch (<%= @tool.id.to_json %>) {
    case 1:
      // The pickaxe
      // game.load.spritesheet('miner', '<%= asset_path("large-miner.png")%>',650,600,7);
      game.load.spritesheet('miner', '<%= asset_path("small_miner.png")%>',327,300,7);
      game.load.audio("axe_strike", '<%= asset_path("Mining.mp3")%>');
      game.load.audio("effort", '<%= asset_path("Effort.mp3")%>');

    break;

    case 2:
      // The shovel
      // game.load.spritesheet('shoveller', '<%= asset_path("shovel_sprite.png")%>',652,600,7);
      game.load.spritesheet('shoveller', '<%= asset_path("shovel_small.png")%>',326,300,7);
      game.load.audio("shovelling", '<%= asset_path("Shovelling.mp3")%>');
      game.load.audio("effort", '<%= asset_path("Effort.mp3")%>');
    break;

    case 3:
      // The pneumatic drill
      game.load.spritesheet('driller', '<%= asset_path("drill_sprite.png")%>',548,750,4);
      game.load.audio("drilling", '<%= asset_path("pneumatic_drill.mp3")%>');
      game.load.audio("effort", '<%= asset_path("Effort.mp3")%>');

    break;

    case 4:
      // The power drill
      game.load.spritesheet('powerDriller', '<%= asset_path("drill_sprite.png")%>',548,750,4);
      game.load.audio("powerDrilling", '<%= asset_path("power_drill.mp3")%>');
      game.load.audio("effort", '<%= asset_path("Effort.mp3")%>');

    break;

    case 5:
      // The borer
      game.load.spritesheet('borer', '<%= asset_path("drill_sprite.png")%>',548,750,4);
      game.load.audio("boring", '<%= asset_path("borer.mp3")%>');
      game.load.audio("effort", '<%= asset_path("Effort.mp3")%>');

    break;

    default:
      // DEFAULT: The pickaxe
      // game.load.spritesheet('miner', '<%= asset_path("large-miner.png")%>',650,600,7);
      game.load.spritesheet('miner', '<%= asset_path("small_miner.png")%>',327,300,7);
      game.load.audio("axe_strike", '<%= asset_path("Mining.mp3")%>');
      game.load.audio("effort", '<%= asset_path("Effort.mp3")%>');

    break;
  };



}

function create() {

   //  A simple background for the mine
   game.add.sprite(0, 0, 'cave');
   //  The rocks group is comprised of all the stones which make the mine wall
   rocks = game.add.group();

   //  Here we'll create 12 rocks spaced apart
   for (var i = 0; i < 12; i++)
   {
       //  Create three rows of the rock wall
       var aRock = rocks.create((i * 100)-100, -100, 'stone');
       aRock.body.immovable = true;
       var aRock = rocks.create((i * 100)-100, 125, 'stone');
       aRock.body.immovable = true;
       var aRock = rocks.create((i * 100)-100, 355, 'stone');
       aRock.body.immovable = true;
   };

  switch (<%= @tool.id.to_json %>) {
  case 1:
    // The pickaxe player-sprite and its location
     player = game.add.sprite(100, 100, 'miner');
     player.scale.setTo(2, 2);

    //  The two pickaxe animations, mining left and right.
    player.animations.add('left', [0, 1, 2], 10, true);
    player.animations.add('right', [3, 4, 5], 10, true);

    // Create sounds for mining
   effort = game.add.audio('effort', 1, false);
   miningSound = game.add.audio('axe_strike', 1, false);
  break;

  case 2:
    // The shovel player-sprite and its location
   player = game.add.sprite(100, 100, 'shoveller');
   player.scale.setTo(2, 2);

   //  The shovelling animation, mining left and right.
   player.animations.add('left', [0, 1, 2, 3, 4, 5], 10, true);
   player.animations.add('right', [0, 1, 2, 3, 4, 5], 10, true);

   // Create sounds for mining
   effort = game.add.audio('effort', 1, false);
   miningSound = game.add.audio('shovelling', 1, false);
  break;

  case 3:
    // The pneumatic drill player-sprite and its location
   player = game.add.sprite(170, 100, 'driller');
   player.scale.setTo(.7, .7);

   //  The pneumatic drill animation, mining left and right.
   player.animations.add('left', [1, 2, 3], 10, true);
   player.animations.add('right', [3, 2, 1], 10, true);

   // Create sounds for mining
   effort = game.add.audio('effort', 1, false);
   miningSound = game.add.audio('drilling', 1, false);
  break;

  case 4:
    // The power drill player-sprite and its location
   player = game.add.sprite(100, 100, 'powerDriller');
   player.scale.setTo(.7, .7);

   //  The power drill animation, mining left and right.
   player.animations.add('left', [1, 2, 3], 10, true);
   player.animations.add('right', [3, 2, 1], 10, true);

   // Create sounds for mining
   effort = game.add.audio('effort', 1, false);
   miningSound = game.add.audio('powerDrilling', 1, false);
  break;

  case 5:
    // The borer machine player-sprite and its location
   player = game.add.sprite(100, 100, 'borer');

   //  The boring animation LOL.
   player.animations.add('left', [1, 2, 3], 10, true);
   player.animations.add('right', [3, 2, 1], 10, true);

   // Create sounds for mining
   effort = game.add.audio('effort', 1, false);
   miningSound = game.add.audio('boring', 1, false);
  break;

  default:
    // DEFAULT: The pickaxe player-sprite and its location
     player = game.add.sprite(100, 100, 'miner');
     player.scale.setTo(2, 2);

    //  The two pickaxe animations, mining left and right.
    player.animations.add('left', [0, 1, 2], 10, true);
    player.animations.add('right', [3, 4, 5], 10, true);
  break;
};




   //  Score
   scoreText = game.add.text(16, 16, 'Funds: $' + score,
    { fontSize: '32px', fill: '#fff' });

   //  Mine Depth
   depthText = game.add.text(500, 16, 'Mine Depth: ' + depth + ' ft',
    { fontSize: '32px', fill: '#fff'});

   //  Current tool equipped
   toolText = game.add.text(250, 16, tool,
    { fontSize: '32px', fill: '#fff'});

   //  Our controls.
   cursors = game.input.keyboard.createCursorKeys();

}

function update() {

   // MINE TO THE LEFT
    if (cursors.left.isDown)
    {

      //Mining sounds
      if (miningSound.isPlaying || effort.isPlaying){
        console.log('mining left!');
        seconds =  seconds + 1;


      }
      else{
        seconds =  seconds + 1;
        rubbleMaker();
        effort.play();
        miningSound.play();

      }

      //Animation
      player.animations.play('left');

    }

    //  MINE TO THE RIGHT:
    else if (cursors.right.isDown)
    {

      //Sounds:
      if (miningSound.isPlaying || effort.isPlaying){
        console.log('mining right!');
        seconds =  seconds + 1;


      }
      else{

        seconds =  seconds + 1;
        rubbleMaker();
        effort.play();
        miningSound.play();

      }

      //Animations:
      player.animations.play('right');

    }

    //  REST
    else
    {

      player.animations.stop();
      player.frame = 6;
    }

  function rubbleMaker() {

    //  create rubble group
    rubbleGroup = game.add.group();
    //  We will enable physics for any rubble that is created in this group
    rubbleGroup.enableBody = true;
    //  Create and Add rubble at point of mining activity
    var rubble = rubbleGroup.create(300, 50, 'rubble');
    //  Let gravity affect rubble
    rubble.body.gravity.y = 200;

  };


// GAIN POINTS AND DEPTH WITH A PICKAXE;
  function pickAxe() {
    if(seconds > 5) {

    //  INCREASE SCORE AND DEPTH WITH MINING...

      // Adds to initial score (which in turn, was drawn from db...)
      // Also takes into account Tool Speed for equipped tool
      score = score + (Math.floor(Math.random() * 2.1)* toolSpeed);
      scoreText.setText('Funds: $' + score);
      console.log(score)

      // Adds to initial depth...
      // Also takes into account Tool Speed for equipped tool
      depth = depth + (Math.floor(Math.random() * 3)* toolSpeed);
      depthText.setText('Mine Depth: ' + depth + 'ft');
      // console.log(depth);

      seconds = seconds - 5;
      updateScore();
      updateDepth();

    }
  }

  pickAxe();
  centerOfEarth();
}


function centerOfEarth(){
  if (depth > 20427030){
    window.alert('You Have Reached the Center of The Earth!');

  };

};


function updateScore() {
  console.log(score);

$.ajax({
    type: 'PATCH',
    headers: {
    'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
    },
    url: '<%= update_dollars_path %>',
    dataType: "JSON",
    // asnyc: false,
    data: {
      'updatedFunds' : score,
      'user_id' : <%= @user.id %>
    }

  });

};

function updateDepth() {
  console.log(depth);

$.ajax({
    type: 'PATCH',
    headers: {
    'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
    },
    url: '<%= update_depth_path %>',
    dataType: "JSON",
    // asnyc: false,
    data: {
      'updatedDepth' : depth,
      'user_id' : <%= @user.id %>
    }

  });

};


</script>
