<% if @user.errors.any? %>
<b>Errors:</b>
<ul>
  <% @user.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<div class="new_user_form">
  <ul>
  <%= form_for @user do |f| %>
    <li><%= f.label :name %>
    <%= f.text_field :name %></li>

    <li><%= f.label :password %>
    <%= f.password_field :password %></li>

    <li><%= f.label :password_confirmation, 'Confirm Password' %>
    <%= f.password_field :password_confirmation %></li>

    <li><%= f.submit "Submit", id: 'submit' %>
    my button:
    <%= link_to "Submit Info", 'update' %></li>
  <% end %>
  </ul>
</div>
