<div class='hq-wrapper'>

  <audio autoplay="autoplay" loop="loop">
    <source src="<%= asset_path("quiet_cave.mp3") %>" type="audio/mpeg">
    <source src="<%= asset_path("quiet_cave.ogg") %>" type="audio/ogg">
    <embed height="5" width="10" src="<%= asset_path("quiet_cave.mp3") %>">
    Your browser does not support game music.
  </audio>

  <!-- SMALL GAME LOGO ON RIGHT -->
  <img src="<%= asset_path("miner_logo.png") %>" id="mini-logo">

  <h1 id="store-logo">Miner Details</h1>

  <div class='stats'>
    <%= @user.name.capitalize %>
    <%= render "user_form" %>
    <%= link_to "Cancel", @user %>
  </div>

</div>
