<div class='museum-wrapper'>

  <audio autoplay="autoplay" loop="loop">
    <source src="<%= asset_path("quiet_cave.mp3") %>" type="audio/mpeg">
    <source src="<%= asset_path("quiet_cave.ogg") %>" type="audio/ogg">
    <embed height="5" width="10" src="<%= asset_path("quiet_cave.mp3") %>">
    Your browser does not support game music.
  </audio>

  <!-- SMALL GAME LOGO ON RIGHT -->
  <img src="<%= asset_path("miner_logo.png") %>" id="mini-logo">

  <h1>Hall of Fame</h1>

  <div class="trophy">
    <img src="<%= asset_path("trophy.png") %>" id='trophy'>

    <div class='honor-board'>
      FAMOUS MINES of THE WORLD:
      <ol>
      <% @user_array.each do |user| %>
        <li>Miner :  <%= user[2] %><br>
            Mine :  <%= user[0] %><br>
            Depth :  <%= number_with_delimiter("%.0f" %user[1], :delimiter => ',').to_s %> ft<br></li><br>
      <% end %>
      </ol>
    </div>

  </div>

  <p><%= link_to "Return to HQ", user_path(@current_user) %></p>
</div>

