<!DOCTYPE html>
<html>
<head>
  <title>Miner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'common/logout' %>
<%= yield %>


<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>

<script src="phaser.js"></script>
<script src="game.js"></script>
<script>

var score = 0;
var scoreText;
var depth = 0;
var depthText;


var game = new Phaser.Game(800, 600, Phaser.AUTO, '', { preload: preload, create: create, update: update });

function preload() {

  game.load.image('cave', '<%= asset_path("cave.png") %>');
  game.load.image('stone', '<%= asset_path("stone.jpg") %>');
  game.load.spritesheet('miner', '<%= asset_path("large-miner.png")%>',650,600,7);
  game.load.audio("axe_strike", '<%= asset_path("Mining.mp3")%>');
  game.load.audio("effort", '<%= asset_path("Effort.mp3")%>');
}

function create() {

   //  A simple background for the mine
   game.add.sprite(0, 0, 'cave');
   //  The rocks group is comprised of all the stones which make the mine wall
   rocks = game.add.group();
   // Create sounds for mining
   effort = game.add.audio('effort', 1, false);
   axeStrike = game.add.audio('axe_strike', 1, false);
   //  Here we'll create 12 rocks spaced apart
   for (var i = 0; i < 12; i++)
   {
       //  Now let's create a rock
       var aRock = rocks.create((i * 100)-100, -100, 'stone');
       aRock.body.immovable = true;
        var aRock = rocks.create((i * 100)-100, 150, 'stone');
       aRock.body.immovable = true;
        var aRock = rocks.create((i * 100)-100, 370, 'stone');
       aRock.body.immovable = true;
   }
   // The player-sprite and its location
   player = game.add.sprite(100, 100, 'miner');

   //  The two animations, mining left and right.
   player.animations.add('left', [0, 1, 2], 10, true);
   player.animations.add('right', [3, 4, 5], 10, true);

   //  Funds
   scoreText = game.add.text(16, 16, 'Funds: $' + score, { fontSize: '32px', fill: '#fff' });
   //  Mine Depth
   depthText = game.add.text(550, 16, 'Mine Depth:' + depth + 'ft', { fontSize: '32px', fill: '#fff'});

   //  Our controls.
   cursors = game.input.keyboard.createCursorKeys();

}

function update() {


    if (cursors.left.isDown)
    {
        // MINE TO THE LEFT

      //Mining sounds
      if (axeStrike.isPlaying || effort.isPlaying){
        console.log('sound playing!');
      }
      else{

        //Update score and depth
      score += Math.floor((Math.random() * 10) + 1) * .1;
      scoreText.text = 'Fund: $' + score + '';

      depth += .1;
      depthText.text = 'Mine Depth: ' + depth + 'ft';

        effort.play();
        axeStrike.play();

      };

      //Animation
      player.animations.play('left');





    }
    else if (cursors.right.isDown)
    {
      //  MINE TO THE RIGHT:

      //Sounds:
      if (axeStrike.isPlaying || effort.isPlaying){
        console.log('sound playing!');
      }
      else{

        //Update score and depth
      score += Math.floor((Math.random() * 1) + 1);
      scoreText.text = 'Fund: $' + score;

      depth += .1;
      depthText.text = 'Mine Depth: ' + score + 'ft';

        effort.play();
        axeStrike.play();

      };

      //Animations:
      player.animations.play('right');



    }
    else
    {
      //  REST
      player.animations.stop();
      player.frame = 6;
    }

}

// // function mineRocks (player, rock) {
// function mineRocks(player) {


//     //  update the score and depth
//     score += 3;
//     scoreText.text = 'Funds: $' + score;

//     depth += 1;
//     depthText.text = 'Mine Depth: ' + depth + 'ft';

// }

</script>

</html>
